<div class="title">
    <h3>Events</h3>

</div>

<div class="col-sm-8">
    
    <div class="from">
        <div class="col-sm-4">
            <label>EVENT FROM</label>
            <input type="text" placeholder="Date"> 
        </div> 
        <div class="col-sm-4">
            <label>SEARCH</label>
            <input type="text" placeholder="Keyword"> 
        </div> 
        <div class="col-sm-4">
            <br>
            <button >Find Events</button> 
        </div> 
    </div>
    </div>
     

<hr class="col-sm-1">
<div class="col-sm-3">
mvmz
</div>

<div class="clear"></div>