<p>Something Wrong Check Your URL</p>
<img src="assets/thumbs_down.png">



<!-- <div class="col-sm-12">
    <div class="loan">
        Principle:<input type="text" placeholder="Enter the Amount" ><br>
        Time:<input type="text" placeholder="Time" ><br>
        Rate Of Interest:<input type="text" placeholder="Rate of Interest" ><br>
        <section>
            <option>Home</option>
            <option>Edu</option>
            <option>Car</option>
            <option>Gold</option>
        </section>

    </div>
   

</div> -->