<div class="register">

  <div class="container">
  <h3>Registration Here</h3>
  <p>If you don't have account yet.</p>

  <form>

<label id="n"></label><input type="text" #myname placeholder="Enter your name" ><br>
<p [style.color]="color">{{msg1}}</p>

    <br>

    <label id="p"></label><input type="text" #mypass  placeholder="Enter your password">
    <p [style.color]="color">{{msg2}}</p>
    <br>

    <input type="button" id="btn" value="register" (click)="login(myname.value,mypass.value)">

    <br>

    <a routerLink="register" (click)="reg()" >Already have Account?Login Here!</a>
  </form>


</div>
  

</div><br>
 
<input type="text" [(ngModel)]="mydata" style="width: 300px;height: 40px;border-radius: 20px;">  



<br>

{{mydata}}
<br>
 
<input type="text" #myname1>
<input type="submit" (click)="abc(myname1.value)">

<router-outlet></router-outlet>
