<div class="menu">

  <h1>Registration Here</h1>

  <form>

    <label>Name:</label><input type="text" #myname >

    <br>

    <label>Password:</label><input type="text" #mypass  >

    <br>

    <label>Mobile</label><input type="text" #myphone >
    <br>

    <input type="button" value="log" (click)="login(myname.value,mypass.value,myphone.value)">

    <br>

   
  </form>



   <a routerLink="register" (click)="reg()" >Already have Account?Login Here!</a>

</div><br>

<input type="text" [(ngModel)]="mydata" style="width: 300px;height: 40px;border-radius: 20px;">  



<br>

{{mydata}}
<br>

<input type="text" #myname1>
<input type="submit" (click)="abc(myname1.value)">

<router-outlet></router-outlet>
