<div class="title">
    <h3>RECIPE INDEX</h3>

</div>

<!-- <div class="table">
    <div class="col-sm-3">
        <table style="width: 100%;">
            <thead>
                <th>A</th>
            </thead>
            <tbody>
                <tr>
                    <td>Calories</td>
                    <td>102</td>
                   
                </tr>
            </tbody>
        </table> 
    
    </div>

    <div class="col-sm-3">
        <table style="width: 100%;">
            <tbody>
                <tr>
                    <td>Calories</td>
                    <td>102 kcal</td>
                    
                </tr>
            </tbody>
        </table> 
    
    </div>

    <div class="col-sm-3">
        <table style="width: 100%;">
            <tbody>
                <tr>
                    <td>Calories</td>
                    <td>102 kcal</td>
                   
                </tr>
            </tbody>
        </table> 
    
    </div>


</div> -->

       