<div class="title">
    <h3>THE RECIPE</h3>

</div>

<!-- ======== -->


<section class="recipes">
    <div class="col-sm-3">
        <img src="assets/recipes/thumb-1.png" style="width: 100%; padding: 0px ; ">
        <a href="" class="bookmark">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmarks" viewBox="0 0 16 16">
                <path d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L7 13.101l-4.223 2.815A.5.5 0 0 1 2 15.5V4zm2-1a1 1 0 0 0-1 1v10.566l3.723-2.482a.5.5 0 0 1 .554 0L11 14.566V4a1 1 0 0 0-1-1H4z"/>
                <path d="M4.268 1H12a1 1 0 0 1 1 1v11.768l.223.148A.5.5 0 0 0 14 13.5V2a2 2 0 0 0-2-2H6a2 2 0 0 0-1.732 1z"/>
              </svg>
        </a>
        <div class="content">
            <h3>Salad Nicoise</h3>
            <hr>
            <h6>By Lina Sukowati</h6>
            <p>9 Minutes</p>

        </div>

    </div>
    <div class="col-sm-3">
        <img src="assets/recipes/thumb-2.png" style="width: 100%; padding: 0px;">
        <a href="" class="bookmark">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmarks" viewBox="0 0 16 16">
                <path d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L7 13.101l-4.223 2.815A.5.5 0 0 1 2 15.5V4zm2-1a1 1 0 0 0-1 1v10.566l3.723-2.482a.5.5 0 0 1 .554 0L11 14.566V4a1 1 0 0 0-1-1H4z"/>
                <path d="M4.268 1H12a1 1 0 0 1 1 1v11.768l.223.148A.5.5 0 0 0 14 13.5V2a2 2 0 0 0-2-2H6a2 2 0 0 0-1.732 1z"/>
              </svg>
        </a>
        <div class="content">
            <h3>Salad Nicoise</h3>
            <hr>
            <h6>By Lina Sukowati</h6>
            <p>9 Minutes</p>

        </div>
       
    </div>
    <div class="col-sm-3">
        <img src="assets/recipes/thumb-3.png" style="width: 100%; padding: 0px;">
        <a href="" class="bookmark">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmarks" viewBox="0 0 16 16">
                <path d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L7 13.101l-4.223 2.815A.5.5 0 0 1 2 15.5V4zm2-1a1 1 0 0 0-1 1v10.566l3.723-2.482a.5.5 0 0 1 .554 0L11 14.566V4a1 1 0 0 0-1-1H4z"/>
                <path d="M4.268 1H12a1 1 0 0 1 1 1v11.768l.223.148A.5.5 0 0 0 14 13.5V2a2 2 0 0 0-2-2H6a2 2 0 0 0-1.732 1z"/>
              </svg>
        </a>
        <div class="content">
            <h3>Salad Nicoise</h3>
            <hr>
            <h6>By Lina Sukowati</h6>
            <p>9 Minutes</p>

        </div>
       
    </div>
    <div class="col-sm-3">
        <img src="assets/recipes/thumb-4.png" style="width: 100%; padding: 0px;">
        <a href="" class="bookmark">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmarks" viewBox="0 0 16 16">
                <path d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L7 13.101l-4.223 2.815A.5.5 0 0 1 2 15.5V4zm2-1a1 1 0 0 0-1 1v10.566l3.723-2.482a.5.5 0 0 1 .554 0L11 14.566V4a1 1 0 0 0-1-1H4z"/>
                <path d="M4.268 1H12a1 1 0 0 1 1 1v11.768l.223.148A.5.5 0 0 0 14 13.5V2a2 2 0 0 0-2-2H6a2 2 0 0 0-1.732 1z"/>
              </svg>
        </a>
        <div class="content">
            <h3>Salad Nicoise</h3>
        <hr>
        <h6>By Lina Sukowati</h6>
        <p>9 Minutes</p>

        </div>
        
    </div>
</section>

<!-- =========== -->



<section class="recipes">
    <div class="col-sm-3">
        <img src="assets/recipes/thumb-1.png" style="width: 100%; padding: 0px ; ">
        <a href="" class="bookmark">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmarks" viewBox="0 0 16 16">
                <path d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L7 13.101l-4.223 2.815A.5.5 0 0 1 2 15.5V4zm2-1a1 1 0 0 0-1 1v10.566l3.723-2.482a.5.5 0 0 1 .554 0L11 14.566V4a1 1 0 0 0-1-1H4z"/>
                <path d="M4.268 1H12a1 1 0 0 1 1 1v11.768l.223.148A.5.5 0 0 0 14 13.5V2a2 2 0 0 0-2-2H6a2 2 0 0 0-1.732 1z"/>
              </svg>
        </a>
        <div class="content">
            <h3>Salad Nicoise</h3>
            <hr>
            <h6>By Lina Sukowati</h6>
            <p>9 Minutes</p>

        </div>

    </div>
    <div class="col-sm-3">
        <img src="assets/recipes/thumb-2.png" style="width: 100%; padding: 0px;">
        <a href="" class="bookmark">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmarks" viewBox="0 0 16 16">
                <path d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L7 13.101l-4.223 2.815A.5.5 0 0 1 2 15.5V4zm2-1a1 1 0 0 0-1 1v10.566l3.723-2.482a.5.5 0 0 1 .554 0L11 14.566V4a1 1 0 0 0-1-1H4z"/>
                <path d="M4.268 1H12a1 1 0 0 1 1 1v11.768l.223.148A.5.5 0 0 0 14 13.5V2a2 2 0 0 0-2-2H6a2 2 0 0 0-1.732 1z"/>
              </svg>
        </a>
        <div class="content">
            <h3>Salad Nicoise</h3>
            <hr>
            <h6>By Lina Sukowati</h6>
            <p>9 Minutes</p>

        </div>
       
    </div>
    <div class="col-sm-3">
        <img src="assets/recipes/thumb-3.png" style="width: 100%; padding: 0px;">
        <a href="" class="bookmark">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmarks" viewBox="0 0 16 16">
                <path d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L7 13.101l-4.223 2.815A.5.5 0 0 1 2 15.5V4zm2-1a1 1 0 0 0-1 1v10.566l3.723-2.482a.5.5 0 0 1 .554 0L11 14.566V4a1 1 0 0 0-1-1H4z"/>
                <path d="M4.268 1H12a1 1 0 0 1 1 1v11.768l.223.148A.5.5 0 0 0 14 13.5V2a2 2 0 0 0-2-2H6a2 2 0 0 0-1.732 1z"/>
              </svg>
        </a>
        <div class="content">
            <h3>Salad Nicoise</h3>
            <hr>
            <h6>By Lina Sukowati</h6>
            <p>9 Minutes</p>

        </div>
       
    </div>
    <div class="col-sm-3">
        <img src="assets/recipes/thumb-4.png" style="width: 100%; padding: 0px;">
        <a href="" class="bookmark">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmarks" viewBox="0 0 16 16">
                <path d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L7 13.101l-4.223 2.815A.5.5 0 0 1 2 15.5V4zm2-1a1 1 0 0 0-1 1v10.566l3.723-2.482a.5.5 0 0 1 .554 0L11 14.566V4a1 1 0 0 0-1-1H4z"/>
                <path d="M4.268 1H12a1 1 0 0 1 1 1v11.768l.223.148A.5.5 0 0 0 14 13.5V2a2 2 0 0 0-2-2H6a2 2 0 0 0-1.732 1z"/>
              </svg>
        </a>
        <div class="content">
            <h3>Salad Nicoise</h3>
        <hr>
        <h6>By Lina Sukowati</h6>
        <p>9 Minutes</p>

        </div>
        
    </div>
</section>

<!-- =========== -->



<section class="recipes">
    <div class="col-sm-3">
        <img src="assets/recipes/thumb-1.png" style="width: 100%; padding: 0px ; ">
        <a href="" class="bookmark">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmarks" viewBox="0 0 16 16">
                <path d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L7 13.101l-4.223 2.815A.5.5 0 0 1 2 15.5V4zm2-1a1 1 0 0 0-1 1v10.566l3.723-2.482a.5.5 0 0 1 .554 0L11 14.566V4a1 1 0 0 0-1-1H4z"/>
                <path d="M4.268 1H12a1 1 0 0 1 1 1v11.768l.223.148A.5.5 0 0 0 14 13.5V2a2 2 0 0 0-2-2H6a2 2 0 0 0-1.732 1z"/>
              </svg>
        </a>
        <div class="content">
            <h3>Salad Nicoise</h3>
            <hr>
            <h6>By Lina Sukowati</h6>
            <p>9 Minutes</p>

        </div>

    </div>
    <div class="col-sm-3">
        <img src="assets/recipes/thumb-2.png" style="width: 100%; padding: 0px;">
        <a href="" class="bookmark">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmarks" viewBox="0 0 16 16">
                <path d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L7 13.101l-4.223 2.815A.5.5 0 0 1 2 15.5V4zm2-1a1 1 0 0 0-1 1v10.566l3.723-2.482a.5.5 0 0 1 .554 0L11 14.566V4a1 1 0 0 0-1-1H4z"/>
                <path d="M4.268 1H12a1 1 0 0 1 1 1v11.768l.223.148A.5.5 0 0 0 14 13.5V2a2 2 0 0 0-2-2H6a2 2 0 0 0-1.732 1z"/>
              </svg>
        </a>
        <div class="content">
            <h3>Salad Nicoise</h3>
            <hr>
            <h6>By Lina Sukowati</h6>
            <p>9 Minutes</p>

        </div>
       
    </div>
    <div class="col-sm-3">
        <img src="assets/recipes/thumb-3.png" style="width: 100%; padding: 0px;">
        <a href="" class="bookmark">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmarks" viewBox="0 0 16 16">
                <path d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L7 13.101l-4.223 2.815A.5.5 0 0 1 2 15.5V4zm2-1a1 1 0 0 0-1 1v10.566l3.723-2.482a.5.5 0 0 1 .554 0L11 14.566V4a1 1 0 0 0-1-1H4z"/>
                <path d="M4.268 1H12a1 1 0 0 1 1 1v11.768l.223.148A.5.5 0 0 0 14 13.5V2a2 2 0 0 0-2-2H6a2 2 0 0 0-1.732 1z"/>
              </svg>
        </a>
        <div class="content">
            <h3>Salad Nicoise</h3>
            <hr>
            <h6>By Lina Sukowati</h6>
            <p>9 Minutes</p>

        </div>
       
    </div>
    <div class="col-sm-3">
        <img src="assets/recipes/thumb-4.png" style="width: 100%; padding: 0px;">
        <a href="" class="bookmark">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmarks" viewBox="0 0 16 16">
                <path d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L7 13.101l-4.223 2.815A.5.5 0 0 1 2 15.5V4zm2-1a1 1 0 0 0-1 1v10.566l3.723-2.482a.5.5 0 0 1 .554 0L11 14.566V4a1 1 0 0 0-1-1H4z"/>
                <path d="M4.268 1H12a1 1 0 0 1 1 1v11.768l.223.148A.5.5 0 0 0 14 13.5V2a2 2 0 0 0-2-2H6a2 2 0 0 0-1.732 1z"/>
              </svg>
        </a>
        <div class="content">
            <h3>Salad Nicoise</h3>
        <hr>
        <h6>By Lina Sukowati</h6>
        <p>9 Minutes</p>

        </div>
        
    </div>
</section>

<!-- =========== -->


<section class="recipes">
    <div class="col-sm-3">
        <img src="assets/recipes/thumb-1.png" style="width: 100%; padding: 0px ; ">
        <a href="" class="bookmark">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmarks" viewBox="0 0 16 16">
                <path d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L7 13.101l-4.223 2.815A.5.5 0 0 1 2 15.5V4zm2-1a1 1 0 0 0-1 1v10.566l3.723-2.482a.5.5 0 0 1 .554 0L11 14.566V4a1 1 0 0 0-1-1H4z"/>
                <path d="M4.268 1H12a1 1 0 0 1 1 1v11.768l.223.148A.5.5 0 0 0 14 13.5V2a2 2 0 0 0-2-2H6a2 2 0 0 0-1.732 1z"/>
              </svg>
        </a>
        <div class="content">
            <h3>Salad Nicoise</h3>
            <hr>
            <h6>By Lina Sukowati</h6>
            <p>9 Minutes</p>

        </div>

    </div>
    <div class="col-sm-3">
        <img src="assets/recipes/thumb-2.png" style="width: 100%; padding: 0px;">
        <a href="" class="bookmark">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmarks" viewBox="0 0 16 16">
                <path d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L7 13.101l-4.223 2.815A.5.5 0 0 1 2 15.5V4zm2-1a1 1 0 0 0-1 1v10.566l3.723-2.482a.5.5 0 0 1 .554 0L11 14.566V4a1 1 0 0 0-1-1H4z"/>
                <path d="M4.268 1H12a1 1 0 0 1 1 1v11.768l.223.148A.5.5 0 0 0 14 13.5V2a2 2 0 0 0-2-2H6a2 2 0 0 0-1.732 1z"/>
              </svg>
        </a>
        <div class="content">
            <h3>Salad Nicoise</h3>
            <hr>
            <h6>By Lina Sukowati</h6>
            <p>9 Minutes</p>

        </div>
       
    </div>
    <div class="col-sm-3">
        <img src="assets/recipes/thumb-3.png" style="width: 100%; padding: 0px;">
        <a href="" class="bookmark">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmarks" viewBox="0 0 16 16">
                <path d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L7 13.101l-4.223 2.815A.5.5 0 0 1 2 15.5V4zm2-1a1 1 0 0 0-1 1v10.566l3.723-2.482a.5.5 0 0 1 .554 0L11 14.566V4a1 1 0 0 0-1-1H4z"/>
                <path d="M4.268 1H12a1 1 0 0 1 1 1v11.768l.223.148A.5.5 0 0 0 14 13.5V2a2 2 0 0 0-2-2H6a2 2 0 0 0-1.732 1z"/>
              </svg>
        </a>
        <div class="content">
            <h3>Salad Nicoise</h3>
            <hr>
            <h6>By Lina Sukowati</h6>
            <p>9 Minutes</p>

        </div>
       
    </div>
    <div class="col-sm-3">
        <img src="assets/recipes/thumb-4.png" style="width: 100%; padding: 0px;">
        <a href="" class="bookmark">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmarks" viewBox="0 0 16 16">
                <path d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L7 13.101l-4.223 2.815A.5.5 0 0 1 2 15.5V4zm2-1a1 1 0 0 0-1 1v10.566l3.723-2.482a.5.5 0 0 1 .554 0L11 14.566V4a1 1 0 0 0-1-1H4z"/>
                <path d="M4.268 1H12a1 1 0 0 1 1 1v11.768l.223.148A.5.5 0 0 0 14 13.5V2a2 2 0 0 0-2-2H6a2 2 0 0 0-1.732 1z"/>
              </svg>
        </a>
        <div class="content">
            <h3>Salad Nicoise</h3>
        <hr>
        <h6>By Lina Sukowati</h6>
        <p>9 Minutes</p>

        </div>
        
    </div>
</section>

<!-- =========== -->
<div class="page">
    <ul class="pagination">
        <li><a href="#">Previous</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">Next</a></li>
  </ul>

</div>
