
<div class="title">
    <h3>THE RECIPE</h3>

</div>

<div class="rs-c">
    <div class="level">
        <h4>LEVEL:<span>MASTER</span></h4>

    </div>
    <div class="level1">
        <h4>TIME:2 HOURS</h4>
    </div>
    <div class="clear">

    </div>
    <h1>Tiger Pawn Roasted</h1>
    <hr>
    <div class="col-sm-6 img-p">
        <img class="img-r" src="assets/auth-03.png">
        <p>Posted by <span> Dina Makulatuwa</span> </p>
           
    </div>
    <div class="col-sm-3">
        <h2>  DELICIOUS :</h2>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
    </div>
    
    <div class="navbar-social-media">
        <a class="btn btn-dark btn-social mx-2" href="#!">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer" viewBox="0 0 16 16">
                <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
                <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z"/>
              </svg>
        </a>
    
        <a class="btn btn-dark btn-social mx-2" href="#!">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share" viewBox="0 0 16 16">
                <path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z"/>
              </svg>
        </a>
    
        <a class="btn btn-dark btn-social mx-2" href="#!">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmarks" viewBox="0 0 16 16">
                <path d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L7 13.101l-4.223 2.815A.5.5 0 0 1 2 15.5V4zm2-1a1 1 0 0 0-1 1v10.566l3.723-2.482a.5.5 0 0 1 .554 0L11 14.566V4a1 1 0 0 0-1-1H4z"/>
                <path d="M4.268 1H12a1 1 0 0 1 1 1v11.768l.223.148A.5.5 0 0 0 14 13.5V2a2 2 0 0 0-2-2H6a2 2 0 0 0-1.732 1z"/>
              </svg>
     
      </a>      
          
       </div>

<div class="clear"></div>
<!-- ============== -->
<section>
    <div class="col-sm-6 image-recipe">
        <img src="assets/recipes/image-recipe.png">

    </div>
    <div class="col-sm-6 content">
        <h3>DESCRIPTION</h3>
        <p>Maecenas eu maximus turpis. Aliquam eget libero vitae elit tempor mollis. Curabitur sed mi et quam varius rhoncus velex. Mauris facilisis consequat libero non varius. Suspendisse nec quam tincidunt, imperdiet risus sed, finibus erat. Curabitur egestas nulla non dolor gravida, maximus dictum massa lacinia. Cras porttitor, diam ac lacinia scelerisque, arcu arcu aliquet quam, non dignissim tortor turpis at mauris. Ut eget euismod nulla.</p>
        <p>Donec quis finibus nibh. Donec mattis id orci sed dapibus. Praesent augue odio, imperdiet sed mollis in, vehicula quis nulla. Ut eu vulputate ligula. Vivamus volutpat lectus dolor, sed congue elit rhoncus pharetra. Praesent non posuere felis. Ut aliquam luctus odio, ac commodo felis consectetur nec. Integer vehicula sit amet erat ut pharetra. Mauris ornare ligula dui, id placerat lacus iaculis sed.</p>
        <p>Tags:<span> cooking</span>,<span> pawn</span>,<span> roasted</span>,<span> delicious</span></p>


    </div>

</section>
<div class="clear"></div>
<hr>
<div class="col-sm-4">
    <p>INGREDIENTS</p>
    <ul>
        <li>3 pound sesame snaps powder gingerbread</li>
        <li>2 ounce lemon drops chupa chups bear</li>
        <li>1 (1.25 ounce) package cookie cotton candy</li>
        <li>1 (14.5 ounce) marshmallow liquorice</li>
        <li>1 cup crushed tortilla chips</li>
        <li>1/2 cup sour cream (optional)</li>
        <li>1/4 cup chopped red onions</li>
        <li>1 ounce sugar plum pastry fruitcake</li>
        <li>1/3 fruitcake powder halvah</li>
        <li>1/2 cup marzipan</li>
        <li>1/4 ounce muffin caramels</li>
        <li>1/2 cup jujubes jelly chupa</li>
        <li>1/4 ounce bonbon topping</li>
    </ul>

</div>
<div class="col-sm-8">
    <p>DIRECTIONS</p>
    <ol>
        <li><p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.

        </p></li>
        <li><p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.</p></li>
        <li><p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima.</p></li>
        <li><p>Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p></li>
        <li><p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p></li>
        <li><p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis.</p></li>
        
        
    </ol>

</div>
<!-- ===== -->
<hr>

<div class="col-sm-4">
    <p>NUTRITION</p>
    <table style="width: 100%;">
        <tbody>
            <tr>
                <td>Calories</td>
                <td>102 kcal</td>
                <td>5%</td>
            </tr>
            <tr>
                <td>Cholesterol</td>
                <td>9mg</td>
                <td>3%</td>
            </tr>
            <tr>
                <td>Carbohydrates</td>
                <td>12.4 gr</td>
                <td>4%</td>
            </tr>
            <tr>
                <td>Fat</td>
                <td>4.8 gr</td>
                <td>7%</td>
            </tr>
            <tr>
                <td>Protein</td>
                <td>4.6 gr</td>
                <td>9%</td>
            </tr>
        </tbody>
    </table>

</div>

<div class="col-sm-8">
    <div class="nutrition-bar">
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
              <span class="sr-only">70% Complete</span>
            </div>
          </div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:50%">
              <span class="sr-only">50% Complete</span>
            </div>
          </div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:60%">
              <span class="sr-only">60% Complete</span>
            </div>
          </div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:30%">
              <span class="sr-only">30% Complete</span>
            </div>
          </div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:29%">
              <span class="sr-only">29% Complete</span>
            </div>
          </div>

    </div>
    
</div>
<div class="clear"></div>
<!-- ================== -->
<div class="related-recipes">
    <div class="container">
        <h3>RELATED RECIPES</h3>
        <section class="recipes">
    <div class="col-sm-3">
        <img src="assets/recipes/thumb-1.png" style="width: 100%; padding: 0px ; ">
        <a href="" class="bookmark">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmarks" viewBox="0 0 16 16">
                <path d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L7 13.101l-4.223 2.815A.5.5 0 0 1 2 15.5V4zm2-1a1 1 0 0 0-1 1v10.566l3.723-2.482a.5.5 0 0 1 .554 0L11 14.566V4a1 1 0 0 0-1-1H4z"/>
                <path d="M4.268 1H12a1 1 0 0 1 1 1v11.768l.223.148A.5.5 0 0 0 14 13.5V2a2 2 0 0 0-2-2H6a2 2 0 0 0-1.732 1z"/>
              </svg>
        </a>
        <div class="content">
            <h3>Salad Nicoise</h3>
            <hr>
            <h6>By Lina Sukowati</h6>
            <p>9 Minutes</p>

        </div>

    </div>
    <div class="col-sm-3">
        <img src="assets/recipes/thumb-2.png" style="width: 100%; padding: 0px;">
        <a href="" class="bookmark">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmarks" viewBox="0 0 16 16">
                <path d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L7 13.101l-4.223 2.815A.5.5 0 0 1 2 15.5V4zm2-1a1 1 0 0 0-1 1v10.566l3.723-2.482a.5.5 0 0 1 .554 0L11 14.566V4a1 1 0 0 0-1-1H4z"/>
                <path d="M4.268 1H12a1 1 0 0 1 1 1v11.768l.223.148A.5.5 0 0 0 14 13.5V2a2 2 0 0 0-2-2H6a2 2 0 0 0-1.732 1z"/>
              </svg>
        </a>
        <div class="content">
            <h3>Salad Nicoise</h3>
            <hr>
            <h6>By Lina Sukowati</h6>
            <p>9 Minutes</p>

        </div>
       
    </div>
    <div class="col-sm-3">
        <img src="assets/recipes/thumb-3.png" style="width: 100%; padding: 0px;">
        <a href="" class="bookmark">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmarks" viewBox="0 0 16 16">
                <path d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L7 13.101l-4.223 2.815A.5.5 0 0 1 2 15.5V4zm2-1a1 1 0 0 0-1 1v10.566l3.723-2.482a.5.5 0 0 1 .554 0L11 14.566V4a1 1 0 0 0-1-1H4z"/>
                <path d="M4.268 1H12a1 1 0 0 1 1 1v11.768l.223.148A.5.5 0 0 0 14 13.5V2a2 2 0 0 0-2-2H6a2 2 0 0 0-1.732 1z"/>
              </svg>
        </a>
        <div class="content">
            <h3>Salad Nicoise</h3>
            <hr>
            <h6>By Lina Sukowati</h6>
            <p>9 Minutes</p>

        </div>
       
    </div>
    <div class="col-sm-3">
        <img src="assets/recipes/thumb-4.png" style="width: 100%; padding: 0px;">
        <a href="" class="bookmark">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmarks" viewBox="0 0 16 16">
                <path d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L7 13.101l-4.223 2.815A.5.5 0 0 1 2 15.5V4zm2-1a1 1 0 0 0-1 1v10.566l3.723-2.482a.5.5 0 0 1 .554 0L11 14.566V4a1 1 0 0 0-1-1H4z"/>
                <path d="M4.268 1H12a1 1 0 0 1 1 1v11.768l.223.148A.5.5 0 0 0 14 13.5V2a2 2 0 0 0-2-2H6a2 2 0 0 0-1.732 1z"/>
              </svg>
        </a>
        <div class="content">
        <h3>Salad Nicoise</h3>
        <hr>
        <h6>By Lina Sukowati</h6>
        <p>9 Minutes</p>

        </div>
        
    </div>
</section>

    </div>

</div>



</div>